
 <h2><p align="center">Сменить руководителя для  {{ sd_name }} {{ sd_surname}} {{ sd_patronymic}}</p></h2>

 <h2><p align="center">Руководитель: {{  group_patronymic }} {{group_name}} {{ group_surname }}</p></h2>

<form method="post">
    <label>Выберите руководителя:</label>


    <label>
        <select name="id_group">
            {% for g in group %}

                <option value="{{ g.id }}" {% if g.id == sd.id_group_leader %}selected{% endif %}>
                    {{ g.name }} {{ g.surname }} {{g.patronymic}}
                </option>
            {% endfor %}
        </select>
    </label>

    <button type="submit">Обновить</button>
</form>